## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
local.mk
*.ld.tex
dushoff_repos.mk
friends.mk
sites.mk
dushoff_repos.def
friends.def
dev
labPages
creation
Sandbox
Workshops
diversity_metrics
Planning
significance
Circumcision_and_behaviour
Generation_talks
disease_model_talks
statistics_talks
generation_links
Generation_distributions
notebook
scratch
linux_config
1M
talks
708
CIHR_Ebola
Ebola_stochasticity
make
rabies-SD
RR
autorefs
dushoff.github.io
makework
techtex-ebola
sherif
TZ_clinics
rabies_burden
nserc_tools
SEER_HPV
initial_epi
Latent_incidence_fitting
DHS_overview
Country_lists
little_r
SIR_model_family
Rabies_talks
Syphilis_and_ARVs
HIV_presentations
SIR_simulations
permutation_binomial
Ebola_talks
Ebola_sims
fitting_code
Endemic_curves
math_talks
texdeps
org
gi_appoximations
link_calculations
Academic_CV
New_CV
Correspondence
qmee_private
nserc
3SS
mac-theobio.github.io
ml_medicine
HIV_treatment_Africa
shims_age_mixing
madagascar_tb_hiv
competenceFramework
WDBC-Codes
projects
rdc
rabies_db_pipeline
rabies_report
rabies_R0
impSamp
rabies_cihr
rabies_correlations
mc_recency
mli_sims
ImpSamp
MMED
MMEDparticipants
ICI3D.github.io
coreFaculty
RTutorials
Malaria
malariaImmunity
mbfuture
plague
fgc
cannabis
QMEE
Lab_meeting
smb-mathepi
networkSEIR
contact_trace
bayes_antigen
alberta_age
SexNetworks_git
users_guide_clean
ILI-ER
link-re-erlang
local.mk
target.mk
make.log
go.log
Workshops
Planning
significance
Circumcision_and_behaviour
Generation_talks
disease_model_talks
statistics_talks
generation_links
notebook
linux_config
1M
talks
708
CIHR_Ebola
math_talks
New_CV
Correspondence
qmee_private
3SS
ml_medicine
HIV_treatment_Africa
WDBC-Codes
projects
rdc
rabies_R0
impSamp
rabies_correlations
mc_recency
coreFaculty
malariaImmunity
plague
fgc
cannabis
QMEE
Lab_meeting
smb-mathepi
networkSEIR
contact_trace
alberta_age
commit.time
commit.default
up.time
all.time
*.all
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
local.mk
makestuff
*.xlsx
commit.time
commit.default
dotdir/
clonedir/
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
*.page.pdf
*.wide.pdf
*.RData
*.Rlog
.Rhistory
*.Rout*
*.wrapR.*
*.Rds
