## Changes in .gitignore may be over-written!
## Either:
## * Change .ignore (or Makefile) and remake .gitignore
## * Change .gitignore manually, and add the same things to the bottom 
## of .ignore, so that they will be there when .gitignore is remade

## Content from .ignore
local.mk
target.mk
.*.sw*
make.log

## content from makestuff
local.mk
dushoff_repos.mk
friends.mk
sites.mk
dushoff_repos.def
friends.def
dev
creation
Sandbox
Workshops
diversity_metrics
Planning
significance
Circumcision_and_behaviour
Generation_talks
disease_model_talks
generation_links
Generation_distributions
notebook
scratch
1M
New_CV
Correspondence
Lecture_images
Grading
mac-theobio.github.io
ml_medicine
HIV_treatment_Africa
shims_age_mixing
competenceFramework
WDBC-Codes
rabies_db_pipeline
rabies_report
rabies_R0
rabies_correlations
rdc
MMED
MMEDparticipants
ICI3D.github.io
coreFaculty
RTutorials
Malaria
malariaImmunity
mbfuture
plague
fgc
cannabis
QMEE
Lab_meeting
smb-mathepi
networkSEIR
contact_trace
bayes_antigen
alberta_age
ILI-ER
link-re-erlang
commit.time
commit.default
dotdir/
clonedir/
creation
Sandbox
Workshops
diversity_metrics
Planning
significance
Generation_talks
disease_model_talks
generation_links
notebook
scratch
1M
New_CV
Correspondence
ml_medicine
shims_age_mixing
competenceFramework
WDBC-Codes
rabies_db_pipeline
rabies_report
rabies_R0
rabies_correlations
rdc
MMED
MMEDparticipants
coreFaculty
plague
fgc
cannabis
Lab_meeting
smb-mathepi
networkSEIR
contact_trace
bayes_antigen
alberta_age
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
local.mk
makestuff
commit.time
commit.default
dotdir/
clonedir/
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
*.xlsx
commit.time
commit.default
dotdir/
clonedir/
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
*.page.pdf
*.wide.pdf
*.RData
*.Rlog
.Rhistory
*.Rout*
*.wrapR.*
*.Rds
